<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6UcQOZbUIR4AA8kWp5dk72Gx53JS-wwc</string>
	<key>GCM_SENDER_ID</key>
	<string>279751409016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dodep</string>
	<key>PROJECT_ID</key>
	<string>dodep-afb6b</string>
	<key>STORAGE_BUCKET</key>
	<string>dodep-afb6b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279751409016:ios:b2a52d19bbddf4b1699c8d</string>
	<key>DATABASE_URL</key>
	<string>https://dodep-afb6b-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>